@page "/add-board-type-language"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject ZarenSoftService ZarenSoftService

<PageTitle>Add BoardTypeLanguage</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save BoardTypeLanguage</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravel.Models.ZarenSoft.BoardTypeLanguage" Data="@boardTypeLanguage" Visible="@(boardTypeLanguage != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Name" Component="Name" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@boardTypeLanguage.Name" Name="Name" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Board Type" Component="BoardType" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@boardTypesForBoardTypeId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasBoardTypeIdValue) Placeholder="Choose BoardType" style="display: block; width: 100%" @bind-Value="@boardTypeLanguage.BoardTypeId" Name="BoardTypeId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Language" Component="Language" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@languagesForLanguageId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasLanguageIdValue) Placeholder="Choose Language" style="display: block; width: 100%" @bind-Value="@boardTypeLanguage.LanguageId" Name="LanguageId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    protected override async Task OnInitializedAsync()
    {

        boardTypesForBoardTypeId = await ZarenSoftService.GetBoardTypes();

        languagesForLanguageId = await ZarenSoftService.GetLanguages();
    }
    protected bool errorVisible;
    protected ZarenTravel.Models.ZarenSoft.BoardTypeLanguage boardTypeLanguage;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.BoardType> boardTypesForBoardTypeId;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.Language> languagesForLanguageId;

    protected async Task FormSubmit()
    {
        try
        {
            await ZarenSoftService.CreateBoardTypeLanguage(boardTypeLanguage);
            DialogService.Close(boardTypeLanguage);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }





    bool hasBoardTypeIdValue;

    [Parameter]
    public int? BoardTypeId { get; set; }

    bool hasLanguageIdValue;

    [Parameter]
    public int? LanguageId { get; set; }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        boardTypeLanguage = new ZarenTravel.Models.ZarenSoft.BoardTypeLanguage();

        hasBoardTypeIdValue = parameters.TryGetValue<int?>("BoardTypeId", out var hasBoardTypeIdResult);

        if (hasBoardTypeIdValue)
        {
            boardTypeLanguage.BoardTypeId = hasBoardTypeIdResult;
        }

        hasLanguageIdValue = parameters.TryGetValue<int?>("LanguageId", out var hasLanguageIdResult);

        if (hasLanguageIdValue)
        {
            boardTypeLanguage.LanguageId = hasLanguageIdResult;
        }
        await base.SetParametersAsync(parameters);
    }
}
