@page "/edit-deal-type-language"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject ZarenSoftService ZarenSoftService

<PageTitle>Edit DealTypeLanguage</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save DealTypeLanguage</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravel.Models.ZarenSoft.DealTypeLanguage" Data="@dealTypeLanguage" Visible="@(dealTypeLanguage != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Name" Component="Name" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dealTypeLanguage.Name" Name="Name" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Description" Component="Description" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@dealTypeLanguage.Description" Name="Description" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Deal Type" Component="DealType" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@dealTypesForDealTypeId" TextProperty="" ValueProperty="Id"
                        Disabled=@(hasDealTypeIdValue) Placeholder="Choose DealType" style="display: block; width: 100%" @bind-Value="@dealTypeLanguage.DealTypeId" Name="DealTypeId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Language" Component="Language" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@languagesForLanguageId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasLanguageIdValue) Placeholder="Choose Language" style="display: block; width: 100%" @bind-Value="@dealTypeLanguage.LanguageId" Name="LanguageId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        dealTypeLanguage = await ZarenSoftService.GetDealTypeLanguageById(Id);

        dealTypesForDealTypeId = await ZarenSoftService.GetDealTypes();

        languagesForLanguageId = await ZarenSoftService.GetLanguages();
    }
    protected bool errorVisible;
    protected ZarenTravel.Models.ZarenSoft.DealTypeLanguage dealTypeLanguage;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.DealType> dealTypesForDealTypeId;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.Language> languagesForLanguageId;

    protected async Task FormSubmit()
    {
        try
        {
            await ZarenSoftService.UpdateDealTypeLanguage(Id, dealTypeLanguage);
            DialogService.Close(dealTypeLanguage);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }





    bool hasDealTypeIdValue;

    [Parameter]
    public int? DealTypeId { get; set; }

    bool hasLanguageIdValue;

    [Parameter]
    public int? LanguageId { get; set; }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        dealTypeLanguage = new ZarenTravel.Models.ZarenSoft.DealTypeLanguage();

        hasDealTypeIdValue = parameters.TryGetValue<int?>("DealTypeId", out var hasDealTypeIdResult);

        if (hasDealTypeIdValue)
        {
            dealTypeLanguage.DealTypeId = hasDealTypeIdResult;
        }

        hasLanguageIdValue = parameters.TryGetValue<int?>("LanguageId", out var hasLanguageIdResult);

        if (hasLanguageIdValue)
        {
            dealTypeLanguage.LanguageId = hasLanguageIdResult;
        }
        await base.SetParametersAsync(parameters);
    }
}
