@page "/edit-hotel-buy-room"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject ZarenSoftService ZarenSoftService

<PageTitle>Edit HotelBuyRoom</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save HotelBuyRoom</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravel.Models.ZarenSoft.HotelBuyRoom" Data="@hotelBuyRoom" Visible="@(hotelBuyRoom != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Buy Room" Component="BuyRoom" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@buyRoomsForBuyRoomId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasBuyRoomIdValue) Placeholder="Choose BuyRoom" style="display: block; width: 100%" @bind-Value="@hotelBuyRoom.BuyRoomId" Name="BuyRoomId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Hotel" Component="Hotel" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@hotelsForHotelId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasHotelIdValue) Placeholder="Choose Hotel" style="display: block; width: 100%" @bind-Value="@hotelBuyRoom.HotelId" Name="HotelId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        hotelBuyRoom = await ZarenSoftService.GetHotelBuyRoomById(Id);

        buyRoomsForBuyRoomId = await ZarenSoftService.GetBuyRooms();

        hotelsForHotelId = await ZarenSoftService.GetHotels();
    }
    protected bool errorVisible;
    protected ZarenTravel.Models.ZarenSoft.HotelBuyRoom hotelBuyRoom;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.BuyRoom> buyRoomsForBuyRoomId;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.Hotel> hotelsForHotelId;

    protected async Task FormSubmit()
    {
        try
        {
            await ZarenSoftService.UpdateHotelBuyRoom(Id, hotelBuyRoom);
            DialogService.Close(hotelBuyRoom);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }





    bool hasBuyRoomIdValue;

    [Parameter]
    public int? BuyRoomId { get; set; }

    bool hasHotelIdValue;

    [Parameter]
    public int? HotelId { get; set; }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        hotelBuyRoom = new ZarenTravel.Models.ZarenSoft.HotelBuyRoom();

        hasBuyRoomIdValue = parameters.TryGetValue<int?>("BuyRoomId", out var hasBuyRoomIdResult);

        if (hasBuyRoomIdValue)
        {
            hotelBuyRoom.BuyRoomId = hasBuyRoomIdResult;
        }

        hasHotelIdValue = parameters.TryGetValue<int?>("HotelId", out var hasHotelIdResult);

        if (hasHotelIdValue)
        {
            hotelBuyRoom.HotelId = hasHotelIdResult;
        }
        await base.SetParametersAsync(parameters);
    }
}
