@page "/edit-facilities-hotel"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject ZarenSoftService ZarenSoftService

<PageTitle>Edit FacilitiesHotel</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save FacilitiesHotel</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravel.Models.ZarenSoft.FacilitiesHotel" Data="@facilitiesHotel" Visible="@(facilitiesHotel != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Facility" Component="Facility" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@facilitiesForFacilityId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasFacilityIdValue) Placeholder="Choose Facility" style="display: block; width: 100%" @bind-Value="@facilitiesHotel.FacilityId" Name="FacilityId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Hotel" Component="Hotel" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@hotelsForHotelId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasHotelIdValue) Placeholder="Choose Hotel" style="display: block; width: 100%" @bind-Value="@facilitiesHotel.HotelId" Name="HotelId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Hotel Room" Component="HotelRoom" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@hotelRoomsForHotelRoomId" TextProperty="Name" ValueProperty="Id"
                        Disabled=@(hasHotelRoomIdValue) Placeholder="Choose HotelRoom" style="display: block; width: 100%" @bind-Value="@facilitiesHotel.HotelRoomId" Name="HotelRoomId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        facilitiesHotel = await ZarenSoftService.GetFacilitiesHotelById(Id);

        facilitiesForFacilityId = await ZarenSoftService.GetFacilities();

        hotelsForHotelId = await ZarenSoftService.GetHotels();

        hotelRoomsForHotelRoomId = await ZarenSoftService.GetHotelRooms();
    }
    protected bool errorVisible;
    protected ZarenTravel.Models.ZarenSoft.FacilitiesHotel facilitiesHotel;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.Facility> facilitiesForFacilityId;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.Hotel> hotelsForHotelId;

    protected IEnumerable<ZarenTravel.Models.ZarenSoft.HotelRoom> hotelRoomsForHotelRoomId;

    protected async Task FormSubmit()
    {
        try
        {
            await ZarenSoftService.UpdateFacilitiesHotel(Id, facilitiesHotel);
            DialogService.Close(facilitiesHotel);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }





    bool hasFacilityIdValue;

    [Parameter]
    public int? FacilityId { get; set; }

    bool hasHotelIdValue;

    [Parameter]
    public int? HotelId { get; set; }

    bool hasHotelRoomIdValue;

    [Parameter]
    public int? HotelRoomId { get; set; }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        facilitiesHotel = new ZarenTravel.Models.ZarenSoft.FacilitiesHotel();

        hasFacilityIdValue = parameters.TryGetValue<int?>("FacilityId", out var hasFacilityIdResult);

        if (hasFacilityIdValue)
        {
            facilitiesHotel.FacilityId = hasFacilityIdResult;
        }

        hasHotelIdValue = parameters.TryGetValue<int?>("HotelId", out var hasHotelIdResult);

        if (hasHotelIdValue)
        {
            facilitiesHotel.HotelId = hasHotelIdResult;
        }

        hasHotelRoomIdValue = parameters.TryGetValue<int?>("HotelRoomId", out var hasHotelRoomIdResult);

        if (hasHotelRoomIdValue)
        {
            facilitiesHotel.HotelRoomId = hasHotelRoomIdResult;
        }
        await base.SetParametersAsync(parameters);
    }
}
