@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService
@inject Microsoft.Extensions.Localization.IStringLocalizer<ResetPassword> L

<PageTitle>Reset password</PageTitle>
<div class="row">
    <div class="col-md-12">
        <RadzenTemplateForm Data="@user" TItem="ZarenTravel.Models.ApplicationUser"
            Visible="@(user != null)" Submit="@FormSubmit">
            <RadzenAlert Shade="Radzen.Shade.Lighter" Variant="Radzen.Variant.Flat" Size="Radzen.AlertSize.Small" AlertStyle="Radzen.AlertStyle.Danger" Visible="@errorVisible">@error</RadzenAlert>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-4">
                    <RadzenLabel Component="userName" style="width: 100%" Text="Email" />
                </div>
                <div class="col-md-8">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(user.Email)"
                        Name="UserName" />
                    <RadzenRequiredValidator Component="UserName" Text="Email is required" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Reset" IsBusy="@isBusy" BusyText="Resetting ..." Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Click="@CancelClick" Variant="Variant.Flat" Style="margin-left: 0.5rem" />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>
</div>
@code {
        protected ZarenTravel.Models.ApplicationUser user;
        protected bool isBusy;
        protected bool errorVisible;
        protected string error;

        [Inject]
        protected SecurityService Security { get; set; }

        protected override async Task OnInitializedAsync()
        {
            user = new ZarenTravel.Models.ApplicationUser();
        }

        protected async Task FormSubmit()
        {
            try
            {
                isBusy = true;

                await Security.ResetPassword(user.Email);

                DialogService.Close(true);
            }
            catch (Exception ex)
            {
                errorVisible = true;
                error = ex.Message;
            }

            isBusy = false;
        }

        protected async Task CancelClick()
        {
            DialogService.Close(false);
        }
}
