@page "/add-agency-micro-sites-settings-email-configuration"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject zaren_prodService zaren_prodService

<PageTitle>Add AgencyMicroSitesSettingsEmailConfiguration</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save AgencyMicroSitesSettingsEmailConfiguration</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSitesSettingsEmailConfiguration" Data="@agencyMicroSitesSettingsEmailConfiguration" Visible="@(agencyMicroSitesSettingsEmailConfiguration != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Email" Component="Email" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@agencyMicroSitesSettingsEmailConfiguration.Email" Name="Email" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Is Valid" Component="IsValid" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenCheckBox @bind-Value="@agencyMicroSitesSettingsEmailConfiguration.IsValid" Name="IsValid" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Agency" Component="Agency" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@agenciesForAgencyId" TextProperty="InvoiceName" ValueProperty="Id"
                         Placeholder="Choose Agency" style="display: block; width: 100%" @bind-Value="@agencyMicroSitesSettingsEmailConfiguration.AgencyId" Name="AgencyId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Agency Micro Site" Component="AgencyMicroSite" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@agencyMicroSitesForMicroSiteId" TextProperty="Domain" ValueProperty="Id"
                         Placeholder="Choose AgencyMicroSite" style="display: block; width: 100%" @bind-Value="@agencyMicroSitesSettingsEmailConfiguration.MicroSiteId" Name="MicroSiteId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    protected override async Task OnInitializedAsync()
    {
        agencyMicroSitesSettingsEmailConfiguration = new ZarenTravelBO.Models.zaren_prod.AgencyMicroSitesSettingsEmailConfiguration();

        agenciesForAgencyId = await zaren_prodService.GetAgencies();

        agencyMicroSitesForMicroSiteId = await zaren_prodService.GetAgencyMicroSites();
    }
    protected bool errorVisible;
    protected ZarenTravelBO.Models.zaren_prod.AgencyMicroSitesSettingsEmailConfiguration agencyMicroSitesSettingsEmailConfiguration;

    protected IEnumerable<ZarenTravelBO.Models.zaren_prod.Agency> agenciesForAgencyId;

    protected IEnumerable<ZarenTravelBO.Models.zaren_prod.AgencyMicroSite> agencyMicroSitesForMicroSiteId;

    protected async Task FormSubmit()
    {
        try
        {
            await zaren_prodService.CreateAgencyMicroSitesSettingsEmailConfiguration(agencyMicroSitesSettingsEmailConfiguration);
            DialogService.Close(agencyMicroSitesSettingsEmailConfiguration);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }
}
