@page "/agency-micro-site-settings-others"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject zaren_prodService zaren_prodService

<PageTitle>AgencyMicroSiteSettingsOthers</PageTitle>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12 col-md-6">
        <RadzenText Text="AgencyMicroSiteSettingsOthers" TextStyle="TextStyle.H3" TagName="TagName.H1" style="margin: 0" />
    </div>
    <div class="col-12 col-md-6 justify-content-start justify-content-md-end" style="display: flex; align-items: center; flex-wrap: wrap; gap: 0.5rem">
    <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@ExportClick" Variant="Variant.Flat" Shade="Shade.Lighter">
        <RadzenSplitButtonItem Text="Excel" Value="xlsx" />
        <RadzenSplitButtonItem Text="CSV" Value="csv" />
    </RadzenSplitButton>
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@AddButtonClick" Variant="Variant.Flat" />
    </div>
</div>
<div class="row" style="margin-bottom: 1rem">
    <div class="col-12">
        <RadzenTextBox Placeholder="Search ..." style="display: block; width: 100%" @oninput="@Search" />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <RadzenDataGrid @ref="grid0" ColumnWidth="200px"  AllowFiltering="true" FilterMode="FilterMode.Advanced" AllowPaging="true" AllowSorting="true"
            Data="@agencyMicroSiteSettingsOthers"    TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" RowDoubleClick="@EditRow" >
            <Columns>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="Id" Title="Id">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="AskForIdAndBirthdate" Title="Ask For Id And Birthdate">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="IdeaBrochureIndexing" Title="Idea Brochure Indexing">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="ShowTotalPriceInBrochure" Title="Show Total Price In Brochure">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="ShowImagePaymentMethodInFooter" Title="Show Image Payment Method In Footer">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="PendingPaymentAutoCancellation" Title="Pending Payment Auto Cancellation">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="ShowWhatsAppGetButton" Title="Show Whats App Get Button">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="WhatsAppNumber" Title="Whats App Number">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="ShowAgencyIdInDropdownInsteadOfAgencyName" Title="Show Agency Id In Dropdown Instead Of Agency Name">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="Agency.InvoiceName" Title="Agency">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Property="AgencyMicroSite.Domain" Title="Agency Micro Site">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
                    <Template Context="agencyMicroSiteSettingsOther">

                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Size="ButtonSize.Medium"
                            Shade="Shade.Lighter" Variant="Variant.Flat"
                            Click=@(args => GridDeleteButtonClick(args, agencyMicroSiteSettingsOther)) @onclick:stopPropagation="true" />
                    </Template>
                </RadzenDataGridColumn>
            </Columns>
        </RadzenDataGrid>
    </div>
</div>
@code {

    protected IEnumerable<ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther> agencyMicroSiteSettingsOthers;

    protected RadzenDataGrid<ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther> grid0;

    protected string search = "";

    protected async Task Search(ChangeEventArgs args)
    {
        search = $"{args.Value}";

        await grid0.GoToPage(0);

        agencyMicroSiteSettingsOthers = await zaren_prodService.GetAgencyMicroSiteSettingsOthers(new Query { Filter = $@"i => i.WhatsAppNumber.Contains(@0)", FilterParameters = new object[] { search }, Expand = "Agency,AgencyMicroSite" });
    }
    protected override async Task OnInitializedAsync()
    {
        agencyMicroSiteSettingsOthers = await zaren_prodService.GetAgencyMicroSiteSettingsOthers(new Query { Filter = $@"i => i.WhatsAppNumber.Contains(@0)", FilterParameters = new object[] { search }, Expand = "Agency,AgencyMicroSite" });
    }

    protected async Task AddButtonClick(MouseEventArgs args)
    {
        await DialogService.OpenAsync<AddAgencyMicroSiteSettingsOther>("Add AgencyMicroSiteSettingsOther", null);
        await grid0.Reload();
    }

    protected async Task EditRow(DataGridRowMouseEventArgs<ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther> args)
    {
        await DialogService.OpenAsync<EditAgencyMicroSiteSettingsOther>("Edit AgencyMicroSiteSettingsOther", new Dictionary<string, object> { {"Id", args.Data.Id} });
    }

    protected async Task GridDeleteButtonClick(MouseEventArgs args, ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsOther agencyMicroSiteSettingsOther)
    {
        try
        {
            if (await DialogService.Confirm("Are you sure you want to delete this record?") == true)
            {
                var deleteResult = await zaren_prodService.DeleteAgencyMicroSiteSettingsOther(agencyMicroSiteSettingsOther.Id);

                if (deleteResult != null)
                {
                    await grid0.Reload();
                }
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
            { 
                Severity = NotificationSeverity.Error,
                Summary = $"Error", 
                Detail = $"Unable to delete AgencyMicroSiteSettingsOther" 
            });
        }
    }

    protected async Task ExportClick(RadzenSplitButtonItem args)
    {
        if (args?.Value == "csv")
        {
            await zaren_prodService.ExportAgencyMicroSiteSettingsOthersToCSV(new Query
{ 
    Filter = $@"{(string.IsNullOrEmpty(grid0.Query.Filter)? "true" : grid0.Query.Filter)}", 
    OrderBy = $"{grid0.Query.OrderBy}", 
    Expand = "Agency,AgencyMicroSite", 
    Select = string.Join(",", grid0.ColumnsCollection.Where(c => c.GetVisible()).Select(c => c.Property))
}, "AgencyMicroSiteSettingsOthers");
        }

        if (args == null || args.Value == "xlsx")
        {
            await zaren_prodService.ExportAgencyMicroSiteSettingsOthersToExcel(new Query
{ 
    Filter = $@"{(string.IsNullOrEmpty(grid0.Query.Filter)? "true" : grid0.Query.Filter)}", 
    OrderBy = $"{grid0.Query.OrderBy}", 
    Expand = "Agency,AgencyMicroSite", 
    Select = string.Join(",", grid0.ColumnsCollection.Where(c => c.GetVisible()).Select(c => c.Property))
}, "AgencyMicroSiteSettingsOthers");
        }
    }
}
