@page "/edit-agency-micro-site-settings-search-engine"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject zaren_prodService zaren_prodService

<PageTitle>Edit AgencyMicroSiteSettingsSearchEngine</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save AgencyMicroSiteSettingsSearchEngine</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsSearchEngine" Data="@agencyMicroSiteSettingsSearchEngine" Visible="@(agencyMicroSiteSettingsSearchEngine != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Default Availability Timeout Duration" Component="DefaultAvailabilityTimeoutDuration" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.DefaultAvailabilityTimeoutDuration" Name="DefaultAvailabilityTimeoutDuration" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Default Release Days For Early Booking" Component="DefaultReleaseDaysForEarlyBooking" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.DefaultReleaseDaysForEarlyBooking" Name="DefaultReleaseDaysForEarlyBooking" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Default Release Days B2 B Users" Component="DefaultReleaseDaysB2BUsers" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.DefaultReleaseDaysB2BUsers" Name="DefaultReleaseDaysB2BUsers" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Default Release Days Other Users" Component="DefaultReleaseDaysOtherUsers" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.DefaultReleaseDaysOtherUsers" Name="DefaultReleaseDaysOtherUsers" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Minimum Night Allowed" Component="MinimumNightAllowed" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.MinimumNightAllowed" Name="MinimumNightAllowed" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Agency" Component="Agency" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@agenciesForAgencyId" TextProperty="InvoiceName" ValueProperty="Id"
                         Placeholder="Choose Agency" style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.AgencyId" Name="AgencyId"
                           />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Agency Micro Site" Component="AgencyMicroSite" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenDropDownDataGrid Data="@agencyMicroSitesForMicroSiteId" TextProperty="Domain" ValueProperty="Id"
                         Placeholder="Choose AgencyMicroSite" style="display: block; width: 100%" @bind-Value="@agencyMicroSiteSettingsSearchEngine.MicroSiteId" Name="MicroSiteId"
                           />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        agencyMicroSiteSettingsSearchEngine = await zaren_prodService.GetAgencyMicroSiteSettingsSearchEngineById(Id);

        agenciesForAgencyId = await zaren_prodService.GetAgencies();

        agencyMicroSitesForMicroSiteId = await zaren_prodService.GetAgencyMicroSites();
    }
    protected bool errorVisible;
    protected ZarenTravelBO.Models.zaren_prod.AgencyMicroSiteSettingsSearchEngine agencyMicroSiteSettingsSearchEngine;

    protected IEnumerable<ZarenTravelBO.Models.zaren_prod.Agency> agenciesForAgencyId;

    protected IEnumerable<ZarenTravelBO.Models.zaren_prod.AgencyMicroSite> agencyMicroSitesForMicroSiteId;

    protected async Task FormSubmit()
    {
        try
        {
            await zaren_prodService.UpdateAgencyMicroSiteSettingsSearchEngine(Id, agencyMicroSiteSettingsSearchEngine);
            DialogService.Close(agencyMicroSiteSettingsSearchEngine);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }
}
