@page "/edit-agency-contracts-insurance-selected-language"
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject DialogService DialogService
@inject ContextMenuService ContextMenuService
@inject TooltipService TooltipService
@inject NotificationService NotificationService

@inject zaren_prodService zaren_prodService

<PageTitle>Edit AgencyContractsInsuranceSelectedLanguage</PageTitle>
    <div class="col-md-12">
        <RadzenAlert Shade="Shade.Lighter" Variant="Variant.Flat" Size="AlertSize.Small" AlertStyle="AlertStyle.Danger" Visible="@errorVisible">Cannot save AgencyContractsInsuranceSelectedLanguage</RadzenAlert>
        <RadzenTemplateForm TItem="ZarenTravelBO.Models.zaren_prod.AgencyContractsInsuranceSelectedLanguage" Data="@agencyContractsInsuranceSelectedLanguage" Visible="@(agencyContractsInsuranceSelectedLanguage != null)" Submit="@FormSubmit">
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Lang Id" Component="LangId" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyContractsInsuranceSelectedLanguage.LangId" Name="LangId" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Insurances Id" Component="InsurancesId" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenNumeric style="display: block; width: 100%" @bind-Value="@agencyContractsInsuranceSelectedLanguage.InsurancesId" Name="InsurancesId" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Insurance Description" Component="InsuranceDescription" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@agencyContractsInsuranceSelectedLanguage.InsuranceDescription" Name="InsuranceDescription" />
                </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
                <div class="col-md-3">
                    <RadzenLabel Text="Voucher Remarks" Component="VoucherRemarks" style="width: 100%" />
                </div>
                <div class="col-md-9">
                    <RadzenTextBox style="display: block; width: 100%" @bind-Value="@agencyContractsInsuranceSelectedLanguage.VoucherRemarks" Name="VoucherRemarks" />
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-end" style="margin-top: 1rem">
                    <RadzenButton ButtonStyle="ButtonStyle.Primary" ButtonType="ButtonType.Submit" Icon="save" Text="Save" Style="margin-right: 0.5rem" Variant="Variant.Flat" />
                    <RadzenButton ButtonStyle="ButtonStyle.Light" Text="Cancel" Variant="Variant.Flat" Click="@CancelButtonClick"  />
                </div>
            </div>
        </RadzenTemplateForm>
    </div>

@code {

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        agencyContractsInsuranceSelectedLanguage = await zaren_prodService.GetAgencyContractsInsuranceSelectedLanguageById(Id);
    }
    protected bool errorVisible;
    protected ZarenTravelBO.Models.zaren_prod.AgencyContractsInsuranceSelectedLanguage agencyContractsInsuranceSelectedLanguage;

    protected async Task FormSubmit()
    {
        try
        {
            await zaren_prodService.UpdateAgencyContractsInsuranceSelectedLanguage(Id, agencyContractsInsuranceSelectedLanguage);
            DialogService.Close(agencyContractsInsuranceSelectedLanguage);
        }
        catch (Exception ex)
        {
            errorVisible = true;
        }
    }

    protected async Task CancelButtonClick(MouseEventArgs args)
    {
        DialogService.Close(null);
    }
}
