@inject Microsoft.Extensions.Localization.IStringLocalizer<Index> L
@page "/{language}/hotel/{Id}/{Name}"
@using System.Globalization;
@using Microsoft.AspNetCore.WebUtilities;
@using Model.Concrete;
@using SanTsgHotelBooking.Application.Models.LocationHotelPriceResponse;
@using SanTsgHotelBooking.Application.Services.IServices;
@using SanTsgHotelBooking.Application.Services;
@using ZarenUI.Helper;

<PageTitle>Hotel Detail</PageTitle>
<main >


    @if (HotelItem != null && HotelItem.id.ToInt32() > 0)
    {
        <!-- =======================
        Search START -->
        <!-- Booking from START -->
        <form class="bg-mode shadow rounded-3 position-relative p-4 pe-md-5 pb-5 pb-md-4 mb-4 container">
            <div class="row g-4 align-items-center">
                <!-- Location -->
                <div class="col-lg-3">
                    <div class="form-control-border form-control-transparent form-fs-md d-flex">
                        <!-- Icon -->
                        <i class="bi bi-geo-alt fs-3 me-2 mt-2"></i>
                        <!-- Select input -->
                        <div class="flex-grow-1">
                            <label class="form-label"><span data-i18="hotellist.location"></span></label>
                            <select class="form-select js-choice hotelCity" data-search-enabled="true">
                                @{
                                    if (AutoCompletes != null)
                                    {
                                        if (arrivalLocId != null)
                                        {
                                            <option value="@arrivalLocId" selected="selected">@location</option>
                                            foreach (var item in AutoCompletes.Where(a => a.SystemId != arrivalLocId))
                                            {
                                                <option value="@item.SystemId">@item.Name</option>
                                            }
                                        }
                                        else
                                        {
                                            foreach (var item in AutoCompletes)
                                            {
                                                <option value="@item.SystemId">@item.Name</option>
                                            }
                                        }
                                    }

                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="d-flex">
                        <!-- Icon -->
                        <i class="bi bi-calendar fs-3 me-2 mt-2"></i>
                        <!-- Date input -->
                        <div class="form-control-border form-control-transparent form-fs-md">
                            <label class="form-label"><span data-i18="hotellist.check.in"></span></label>
                            <input type="text" class="form-control flatpickr hotelStart" data-date-format="d.m.y" id="dateTimeStart" placeholder="Select date" value="@checkIn">
                        </div>
                    </div>
                </div>
                <!-- Check in -->
                <div class="col-lg-3">
                    <div class="d-flex">
                        <!-- Icon -->
                        <i class="bi bi-calendar fs-3 me-2 mt-2"></i>
                        <!-- Date input -->
                        <div class="form-control-border form-control-transparent form-fs-md">
                            <label class="form-label"><span data-i18="hotellist.check.out"></span></label>
                            <input type="text" class="form-control flatpickr hotelEnd" placeholder="Select date" id="dateTimeEnd" value="@checkOut" data-date-format="d.m.y">
                        </div>
                    </div>
                </div>
                <!-- Guest -->
                <div class="col-lg-3">
                    <div class="form-control-border form-control-transparent form-fs-md d-flex">
                        <!-- Icon -->
                        <i class="bi bi-person fs-3 me-2 mt-2"></i>
                        <!-- Dropdown input -->
                        <div class="w-100">
                            <label class="form-label"><span data-i18="hotellist.guest.rooms"></span></label>
                            <div class="dropdown guest-selector me-2">
                                <input type="text" class="form-guest-selector form-control selection-result" id="dropdownGuest" data-bs-auto-close="outside" data-bs-toggle="dropdown" value="@(adults+" "+"guest".T()+" "+rooms+" "+"night".T())">
                                <!-- dropdown items -->
                                <ul class="dropdown-menu guest-selector-dropdown" aria-labelledby="dropdownGuest">
                                    <!-- Adult -->
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0"><span data-i18="adults"></span></h6>
                                            <small><span data-i18="ages.13.or.above"></span></small>
                                        </div>

                                        <div class="hstack gap-1 align-items-center">
                                            <button type="button" class="btn btn-link adult-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                            <h6 class="guest-selector-count mb-0 adults">@adults</h6>
                                            <button type="button" class="btn btn-link adult-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                        </div>
                                    </li>

                                    <!-- Divider -->
                                    <li class="dropdown-divider"></li>

                                    <!-- Child -->
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0"><span data-i18="child"></span></h6>
                                            <small><span data-i18="ages.13.or.below"></span></small>
                                        </div>

                                        <div class="hstack gap-1 align-items-center">
                                            <button type="button" class="btn btn-link child-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                            <h6 class="guest-selector-count mb-0 child children">@children</h6>
                                            <button type="button" class="btn btn-link child-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                        </div>
                                    </li>

                                    <!-- Divider -->
                                    <li class="dropdown-divider"></li>

                                    <!-- Rooms -->
                                    <li class="d-flex justify-content-between">
                                        <div>
                                            <h6 class="mb-0"><span data-i18="rooms"></span></h6>
                                            <small><span data-i18="max.room.8"></span></small>
                                        </div>

                                        <div class="hstack gap-1 align-items-center">
                                            <button type="button" class="btn btn-link room-remove p-0 mb-0"><i class="bi bi-dash-circle fs-5 fa-fw"></i></button>
                                            <h6 class="guest-selector-count mb-0 rooms">@rooms</h6>
                                            <button type="button" class="btn btn-link room-add p-0 mb-0"><i class="bi bi-plus-circle fs-5 fa-fw"></i></button>
                                        </div>
                                    </li>
                                    <!-- Button -->

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="btn-position-md-middle"><a class="icon-lg btn btn-round btn-primary mb-0 hotelFilter" href="" data-culture="en-US" data-currency="USD"><i class="bi bi-search fa-fw"></i></a></div>
        </form>
        <!-- Booking from END -->
         <!-- Search END -->
        <section class="py-0 pt-sm-5" data-json="@HotelItem.ToJson()">
            <div class="container position-relative">
                <!-- Title and button START -->
                <div class="row mb-3">
                    <div class="col-12">
                        <!-- Meta -->
                        <div class="d-lg-flex justify-content-lg-between mb-1">
                            <!-- Title -->
                            <div class="mb-2 mb-lg-0">
                                <h1 class="fs-2">@HotelItem.name </h1>
                                <!-- Location -->
                                <p class="fw-bold mb-0">
                                    <i class="bi bi-geo-alt me-2"></i>
                                     @if (HotelItem.address?.addressLines != null)
                                    {
                                        foreach (var adresLine in HotelItem.address.addressLines)
                                        {
                                            @adresLine <span>&nbsp;</span>
                                        }
                                    }
                                    <a href="https://maps.google.com?q=(@HotelItem.geolocation.latitude),(@HotelItem.geolocation.longitude)" class="ms-2 text-decoration-underline noModal" data-bs-toggle="modal" data-bs-target="#mapmodal" data-i18="view.on.map">
                                        <i class="bi bi-eye-fill me-1"></i>
                                    </a>
                                </p>
                            </div>

                            <!-- Buttons -->
                            <ul class="list-inline text-end">
                                <!-- Heart icon -->
                                <li class="list-inline-item">
                                  
                                        <a data-id="@HotelItem.id" class="heart@(HotelItem.id) btn btn-sm btn-light px-2 mb-0 likeButton noModal " id="likeButton" onClick="addToWishList(@HotelItem.id)"><i class="fa-solid fa-fw fa-heart"></i></a>
                                    
                                </li>
                                <!-- Share icon -->
                                <li class="list-inline-item dropdown">
                                    <!-- Share button -->
                                    <a href="#" class="btn btn-sm btn-light px-2" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa-solid fa-fw fa-share-alt"></i>
                                    </a>
                                    <!-- dropdown button -->
                                    <ul class="dropdown-menu dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-twitter-square me-2"></i>Twitter</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-facebook-square me-2"></i>Facebook</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fab fa-linkedin me-2"></i>LinkedIn</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fa-solid fa-copy me-2"></i>Copy link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>

            </div>
        </section>

        @if (HotelItem != null && HotelItem.seasons != null && HotelItem.seasons.FirstOrDefault() != null && HotelItem.seasons.FirstOrDefault().mediaFiles != null && HotelItem.seasons.FirstOrDefault().mediaFiles.Any())
        {
            var firstImage = "";
            var imgList = HotelItem.seasons.FirstOrDefault().mediaFiles.ToList();
            if (imgList.FirstOrDefault() != null)
                firstImage = imgList.FirstOrDefault().urlFull;

            var remainingList = imgList.Skip(1);
            <section class="card-grid pt-0">
               
                <div class="container">
                    <div class="row g-2">
                        <!-- Image -->
                        <div class="col-md-6">
                            <a data-glightbox data-gallery="gallery" href="@firstImage">
                                <div class="card card-grid-lg card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(@firstImage); background-position: center left; background-size: cover;">
                                    <!-- Card hover element -->
                                    <div class="hover-element position-absolute w-100 h-100">
                                        <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="row g-2">
                                @{
                                    var i = 0;
                                    foreach (var item in remainingList.Take(4))
                                    {

                                        if (i == 3)
                                        {
                                            <div class="col-md-6">
                                                <div class="card card-grid-sm overflow-hidden" style="background-image:url(@item.urlFull); background-position: center left; background-size: cover;">

                                                    <div class="bg-overlay bg-dark opacity-7"></div>
                                                    @foreach (var itemImg in imgList)
                                                    {
                                                        <a data-glightbox="" data-gallery="gallery" href="@itemImg.urlFull" class="stretched-link z-index-9"></a>
                                                    }

                                                    <div class="card-img-overlay d-flex h-100 w-100">
                                                        <h6 class="card-title m-auto fw-light text-decoration-underline"><a href="#" class="text-white"><span data-i18="hoteldetail.viewall"></span></a></h6>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="col-6">
                                                <a data-glightbox data-gallery="gallery" href="@item.urlFull">
                                                    <div class="card card-grid-sm card-element-hover card-overlay-hover overflow-hidden" style="background-image:url(@item.urlFull); background-position: center left; background-size: cover;">
                                                        <!-- Card hover element -->
                                                        <div class="hover-element position-absolute w-100 h-100">
                                                            <i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-1 p-2 lh-1"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>

                                        }
                                        i++;
                                    }
                                }


                            </div>

                        </div>
                    </div>
                </div>
            </section>
        }

        <section class="pt-0">
            <div class="container" data-sticky-container>
                <div class="row g-4 g-xl-5">
                    <div class="col-xl-7 ">
                        <div class="vstack  ">
                        @if (HotelItem?.description?.text!=null && HotelItem?.description?.text!="")
                            {
                                <!-- About hotel START -->
                                <div class="card bg-transparent">
                                    <!-- Card header -->
                                    <!-- Card body START -->
                                    <div class="card-body ">
                                        <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                            <h3 class="card-title mb-0" data-i18="about.this.hotel"></h3>
                                        </div>
                                        <!-- Highlights Icons -->
                                        <div class="mb-3">
                                        </div>
                                        <p class="mb-3">
                                            @{
                                                MarkupString markupStringFirst = new MarkupString(HotelItem?.description?.text);
                                               
                                            }
                                            @markupStringFirst.Value.Split('.')[0].

                                        </p>  
                                        <div class="collapse" id="collapseContent">
                                            @{
                                                MarkupString markupString = new MarkupString(HotelItem?.description?.text);
                                            }
                                            @HotelItem?.description?.text.Replace(markupStringFirst.Value.Split('.')[0]+".","")
                                        </div>
                                        <a class="p-0 mb-4 mt-2 btn-more d-flex align-items-center collapsed noModal" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent">
                                            See <span class="see-more ms-1">more</span><span class="see-less ms-1">less</span><i class="fa-solid fa-angle-down ms-2"></i>
                                        </a>

                                    </div>
                                    <!-- Card body END -->
                                </div>
                            }

                          
                            <!-- About hotel START -->
                            <!-- Amenities START -->
                            <div class="card bg-transparent">
                                <!-- Card header -->
                                @if (HotelItem.seasons != null && HotelItem.seasons.FirstOrDefault() != null && HotelItem.seasons.FirstOrDefault().facilityCategories != null && HotelItem.seasons.FirstOrDefault().facilityCategories.Any())
                                {
                                    <div class="card-header border-bottom bg-transparent px-0 pt-0">
                                        <h3 class="card-title mb-0"><span data-i18="hoteldetail.amenities"></span></h3>
                                    </div>
                                    <!-- Card body START -->
                                    <div class="card-body">
                                        <div class="row g-4">

                                            @foreach (var itemFacilityCategory in HotelItem?.seasons?.FirstOrDefault()?.facilityCategories)
                                            {

                                                <div class="col-sm-12">
                                                    <h6>@itemFacilityCategory.name</h6>
                                                    <!-- List -->
                                                    <ul class="list-group list-group-borderless mt-2 mb-0" style="display:inline-block!important">
                                                        @foreach (var itemFacility in itemFacilityCategory.facilities)
                                                        {

                                                            <li class="list-group-item pb-0">
                                                                <i class="fa-solid fa-check-circle text-success me-2"></i>@itemFacility.name
                                                            </li>
                                                        }


                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                }
                                <!-- Activities -->
                                <!-- Card body END -->
                            </div>

                            <!-- Amenities END -->
                            <!-- Room START -->
                           <div class="row">
                                <div class="card bg-transparent" id="room-options">
                                    <!-- Card header -->
                                    <div class="card-header border-bottom bg-transparent px-0 pt-0 mb-3">
                                        <div class="d-sm-flex justify-content-sm-between align-items-center">
                                            <h4 class="mb-2 mb-sm-0" data-i18="room.options"></h4>
                                        </div>
                                    </div>

                                    <!-- Best deal START -->
                                    <div class="mt-4 d-none d-xl-block">

                                        <div class="card shadow rounded-3 overflow-hidden">
                                            <div class="row g-0 align-items-center">
                                                <!-- Title and content -->
                                                @foreach (var item in RoomFacilities)
                                                {
                                                    string fac = item.Replace("-", "");
                                                    <div class="col-sm-6 col-md-12 col-lg-6">
                                                        <div class="card-body p-3">
                                                            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                                                                <div class="card-body">

                                                                    <p class="card-text" align="center"><h3 align="center">
                                                                            @{
                                                                                MarkupString markupString = new MarkupString(ZarenUI.Helper.RoomFacilities.SetFaciliities((RoomFacilitiesEnum)Enum.Parse(typeof(RoomFacilitiesEnum), fac)));
                                                                            }@markupString
                                                                        </h3></p>
                                                                    <p class="card-text" align="center">@ZarenUI.Helper.RoomFacilities.FacilityNames</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Best deal END -->
                                    <br>
                                    <!-- Card body START -->
                                    <div class="card-body px-0" style="padding-top: 0!important;">
                                        <div class="vstack gap-4">
                                            @{
                                                if (Offers != null)
                                                {

                                                    foreach (var itemOffers in Offers)
                                                    {
                                                        var listAll = itemOffers.rooms.OrderBy(a => a.boardName);

                                                        <!-- Room item START -->
                                                        <div class="card shadow p-3" data-json="@itemOffers.ToJson()">
                                                            <div class="row g-4">

                                                                <!-- Card img -->
                                                                <div class="col-md-5 position-relative">

                                                                    <!-- Overlay item -->
                                                                    <div class="position-absolute top-0 start-0 z-index-1 mt-3 ms-4">
                                                                        <div class="badge text-bg-danger">30% Off</div>
                                                                    </div>

                                                                    <!-- Slider START -->
                                                                    <div class="tiny-slider arrow-round arrow-xs arrow-dark overflow-hidden rounded-2">
                                                                        <div class="tiny-slider-inner" data-autoplay="true" data-arrow="true" data-dots="false" data-items="1">
                                                                            <!-- Image item -->
                                                                            @foreach (var item in RoomURLFull)
                                                                            {
                                                                                <div><img src="@item" alt="Card image"></div>
                                                                            }

                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <!-- Slider END -->
                                                                    <!-- Button -->
                                                                    <a href="#" class="btn btn-link text-decoration-underline p-0 mb-0 mt-1" data-bs-toggle="modal" data-bs-target="#roomDetail"><i class="bi bi-eye-fill me-1"></i>View more details</a>
                                                                </div>
                                                                <!-- Card body -->
                                                                @foreach (var item in listAll)
                                                                {
                                                                    <div class="col-md-7" data-group="@item.boardName">
                                                                        <div class="card-body d-flex flex-column h-100 p-0">
                                                                            <!-- Title -->
                                                                            <h5 class="card-title"><a href="#">@item.roomName</a></h5>
                                                                            <p class="text-info mb-0">
                                                                                <span data-i18="max.number.of.people"></span>: @item.travellers.Count()
                                                                                @if (item.travellers.Count() == 1)
                                                                                {
                                                                                    <span data-i18="person:1" style="margin-left: 5px;"></span>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <span data-i18="person" style="margin-left: 5px;"></span>
                                                                                }
                                                                            </p>
                                                                            @foreach (var itemcancellationPolicies in itemOffers.cancellationPolicies)
                                                                            {
                                                                                <p class="text-success mb-0"><span data-i18="free.cancellation.till"></span> <strong>@itemcancellationPolicies.dueDate.ToShortDateString()</strong></p>
                                                                            }

                                                                            <ul class="list-group list-group-borderless small mb-0 mt-2">
                                                                                <li class="list-group-item d-flex text-black p-0">
                                                                                    <i class="bi bi-patch-check-fill me-2"></i>@item.boardName
                                                                                </li>
                                                                            </ul>
                                                                            <div class="d-sm-flex justify-content-sm-between align-items-center mt-auto">
                                                                                <!-- Button -->
                                                                                <div class="d-flex align-items-center">
                                                                                    <h5 class="fw-bold mb-0 me-1">@itemOffers.price?.amount.ToMoneyString() @itemOffers.price?.currency</h5>
                                                                                </div>
                                                                                <!-- Price -->
                                                                                <div class="mt-3 mt-sm-0">
                                                                                    <a href="#" class="btn btn-sm btn-primary noModal roomDetail" data-name="@item.roomName" data-currency="" data-culture="" data-json="@item.ToJson()" data-roomid="@item.roomId" data-offerid="@itemOffers.offerId"><i class="bi bi-eye-fill me-1"></i><span data-i18="select.room"></span></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }


                                                            </div>
                                                        </div>
                                                        <!-- Room item END -->
                                                    }
                                                }
                                                else
                                                {
                                                    <div class="alert alert-info my-4" role="alert" data-i18="no.result">
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                    <!-- Card body END -->
                                </div>
                           </div>
                            <!-- Room END -->
                       
                        </div>
                    </div>
                    <!-- Content END -->
                    <!-- Right side content START -->
                    <!-- Right side content START -->
                    <aside class="col-xl-5 order-xl-2">
                        <div data-sticky data-margin-top="100" data-sticky-for="1199">
                            <!-- Book now START -->
                            <div class="card card-body border">

                                <!-- Title -->
                                <div class="d-sm-flex justify-content-sm-between align-items-center mb-3">
                                    <div>
                                        <span>Price Start at</span>
                                        <h4 class="card-title mb-0">@downPrice.ToMoneyString() @priceType</h4>
                                    </div>
                                    <div>
                                       
                                        <h6 class="fw-normal mb-0">1 room per night</h6>
                                        <small>+ $285 taxes & fees</small>
                                    </div>
                                </div>

                                <!-- Rating -->
                                @foreach (var itemDFeature in downPriceRoomFeatures)
                                {
                                    var listAll = itemDFeature.rooms.OrderBy(a => a.boardName);
                                    @foreach (var item in listAll)
                                    {
                                        <p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>@item.boardName</p>
                                        <p class="h6 fw-light mb-4"><i class="bi bi-arrow-right me-2"></i>@item.roomName</p>
                                    }
                                }

                                <!-- Button -->
                                <div class="d-grid">
                                    <a href="#room-options" class="btn btn-lg btn-primary-soft mb-0">View 10 Rooms Options</a>
                                </div>
                            </div>
                            <!-- Book now END -->
                            <!-- Best deal START -->
                            <div class="mt-4 d-none d-xl-block">

                                <div class="card shadow rounded-3 overflow-hidden">
                                    <div class="row g-0 align-items-center">
                                        <!-- Image -->
                                        <div class="col-sm-6 col-md-12 col-lg-6">
                                            <img src="assets/images/zaren-clinic.png" class="card-img rounded-0" alt="">
                                        </div>

                                        <!-- Title and content -->
                                        <div class="col-sm-6 col-md-12 col-lg-6">
                                            <div class="card-body p-3">
                                                <h6 class="card-title"><a href="https://zarenclinic.com" target="_blank" class="stretched-link">Health tourism in Turkey Zaren Clinic</a></h6>
                                                <p class="mb-0">Professional hair transplant prices starting from 1000EUR</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Best deal END -->
                        </div>
                    </aside>
                    <!-- Right side content END -->
             
                </div>
            </div>
        </section>

        <div class="modal fade" id="roomdetail" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-xl">
                <div class="modal-content">
                    <!-- Title -->
                    <div class="modal-header">
                        <h5 class="modal-title roomTitle" id="mapmodalLabel"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Map -->
                    <div class="modal-body p-0">
                        <iframe class="w-100 roomDetailsrc" height="400"  style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <!-- Button -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary mb-0 selectRoom"><i class="bi fa-fw bi-pin-map-fill me-2"></i>Select This Room</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="modal fade" id="mapmodal" tabindex="-1" aria-labelledby="mapmodalLabel" aria-hidden="true" style="display: none;">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Title -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="mapmodalLabel">View Our Hotel Location</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Map -->
                    <div class="modal-body p-0">

                        <iframe class="w-100" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.9663095343008!2d-74.00425878428698!3d40.74076684379132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259bf5c1654f3%3A0xc80f9cfce5383d5d!2sGoogle!5e0!3m2!1sen!2sin!4v1586000412513!5m2!1sen!2sin" style="border:0;" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <!-- Button -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-primary mb-0"><i class="bi fa-fw bi-pin-map-fill me-2"></i>View In Google Map</button>
                    </div>
                </div>
            </div>
        </div>
    }
</main>
<style>
    li.list-group-item.pb-0 {
        width: 50% !important;
        float: left;
    }</style>
 
@code {
    public List<ZarenUI.Models.HotelDTO> Hotels;
    protected string error;
    protected bool errorVisible;
    public List<Hotel> hotels { get; set; }
    public string systemId;
    public string check_in;
    public string check_out;
    public string adult_1;
    public string child_1;
    public string childage_1_Id;

    public double downPrice;
    public string priceType;
    public List<GetOffers.Offer> downPriceRoomFeatures; 

    [ParameterAttribute]
    public string Id { get; set; }

    [ParameterAttribute]
    public string Name { get; set; }

    [ParameterAttribute]
    public string language { get; set; }
    public List<AutoCompletes> AutoCompletes { get; set; }
    public string offerId { get; set; }
    public string searchId { get; set; }
    public string expireOn { get; set; }

    public string location { get; set; }
    public bool checkAllotment { get; set; }
    public bool checkStopSale { get; set; }
    public bool getOnlyDiscountedPrice { get; set; }
    public bool getOnlyBestOffers { get; set; }
    public int productType { get; set; }
    public string nationality { get; set; }
    public string checkIn { get; set; }
    public string checkOut { get; set; }

    public int night { get; set; }
    public string currency { get; set; }
    public string culture { get; set; }
    public string arrivalLocationId { get; set; }
    public int arrivalLocationType { get; set; }
    public string arrivalLocId { get; set; }
    public string adults { get; set; }
    public string children { get; set; }
    public string rooms { get; set; }
    public int hotelCount { get; set; }
    ///search?location=antalya&systemId=10009&check_in=17.03.2023&check_out=18.03.2023&adult_1=5&child_1=3&childage_1_1=4&childage_1_2=4&childage_1_3=3-->

    public SanTsgHotelBooking.Application.Models.GetProductInfoResponse.Hotel HotelItem { get; set; }
    [Inject]
    protected NavigationManager NavigationManager { get; set; }
    [Inject]
    protected TokenHelper _tokenHelper { get; set; }
    [Inject]
    protected SecurityService SecurityService { get; set; }

    [Inject]
    protected AutoCompletesRepository AutoCompleteService { get; set; }
    public List<GetOffers.Offer> Offers { get; set; }

    public List<string> RoomURLFull{ get; set; }
    public List<string> RoomFacilities{ get; set; }

    protected RoomFacilitiesEnum _roomfacilitiesenum;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("checkAllotment", out var _checkAllotment))
            checkAllotment = _checkAllotment.ToBool();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("arrivalLocId", out var _arrivalLocId))
            arrivalLocId = _arrivalLocId;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("checkStopSale", out var _checkStopSale))
            checkStopSale = _checkStopSale.ToBool();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("getOnlyDiscountedPrice", out var _getOnlyDiscountedPrice))
            getOnlyDiscountedPrice = _getOnlyDiscountedPrice.ToBool();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("getOnlyBestOffers", out var _getOnlyBestOffers))
            getOnlyBestOffers = _getOnlyBestOffers.ToBool();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("productType", out var _productType))
            productType = _productType.ToInt32();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("arrivalLocationId", out var _arrivalLocationsId))
            arrivalLocationId = _arrivalLocationsId;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("arrivalLocationType", out var _arrivalLocationsType))
            arrivalLocationType = _arrivalLocationsType.ToInt32();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("nationality", out var _nationality))
            nationality = _nationality;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("night", out var _night))
            night = _night.ToInt32();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("adults", out var _adults))
            adults = _adults;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("children", out var _children))
            children = _children.ToString();

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("rooms", out var _rooms))
            rooms = _rooms.ToString();
        var hotelResponse = _tokenHelper.GetHotelDetailsById(Id.ToInt32(), culture); 
        if (hotelResponse != null && hotelResponse.body != null && hotelResponse.body.hotel != null && hotelResponse.body.hotel.id.ToInt32() > 0) 
            HotelItem = hotelResponse.body.hotel; 

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("offerId", out var _offerId))
            offerId = _offerId;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("searchId", out var _searchId))
            searchId = _searchId;

        if (searchId != null && searchId != "" && offerId != null && offerId != "")
        {
            var offerResponse = _tokenHelper.GetOffersById(offerId, searchId, Id, culture,currency);
            if (offerResponse != null && offerResponse.header.success && offerResponse.body != null && offerResponse.body?.offers != null && offerResponse.body?.offers.Length > 0)
            {
                Offers = new List<GetOffers.Offer>();
                foreach (var itemoffers in offerResponse.body.offers)
                {
                    Offers.Add(itemoffers);
                }
            }
        }


        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("currency", out var _currency))
            currency = _currency;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("culture", out var _culture))
            culture = _culture;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("checkIn", out var _checkIn))
            checkIn = _checkIn;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("checkOut", out var _checkOut))
            checkOut = _checkOut;

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("location", out var _location))
            location = _location.ToString().ToTitleCase();


        CultureInfo provider = CultureInfo.InvariantCulture;
        DateTime datecheckIn = DateTime.ParseExact(checkIn, "dd.MM.yyyy", provider);
        DateTime datecheckOut = DateTime.ParseExact(checkOut, "dd.MM.yyyy", provider);

        var diffOfDates = datecheckOut.Subtract(datecheckIn);

        night = diffOfDates.Days;

        var token = await _tokenHelper.GetSanTsgTourVisioToken();
        var _hotelSearch = await _tokenHelper.LocationHotelPriceSearch(arrivalLocId.ToInt32(), token, adults, children, rooms, checkIn, night, currency, culture, nationality: "TR", 2, getOnlyDiscountedPrice, getOnlyBestOffers, 2, checkAllotment, checkStopSale);
        if (_hotelSearch != null && _hotelSearch.body != null && _hotelSearch.body.hotels != null)
        {
            searchId = _hotelSearch.body.searchId;
            hotels =  _hotelSearch.body.hotels;
            expireOn = _hotelSearch.body.expiresOn.ToString();

            hotelCount = hotels.Count;
        }
        AutoCompletes = AutoCompleteService.GetAllByCache();


        // en düsük fiyat
        if( Offers.OrderBy(a => a.price.amount).FirstOrDefault() != null)
        {
            downPrice = Offers.OrderBy(a => a.price.amount).FirstOrDefault().price.amount;
            priceType = Offers.OrderBy(a => a.price.amount).FirstOrDefault().price.currency;

            downPriceRoomFeatures = Offers.OrderBy(a => a.price.amount).Where(a => a.price.amount == downPrice).ToList();
        }

        RoomURLFull = new List<string>(); RoomFacilities = new List<string>();
        var offerResponseForRoomImg = _tokenHelper.GetOffersById(offerId, searchId, Id, "tr-TR", "EUR");
        if (offerResponseForRoomImg != null && offerResponseForRoomImg.header.success && offerResponseForRoomImg.body != null && offerResponseForRoomImg.body?.offers != null && offerResponseForRoomImg.body?.offers.Length > 0 && offerResponseForRoomImg.body.roomInfos.Any())
        {
            foreach (var rooms in offerResponseForRoomImg?.body.roomInfos)
            {
                foreach (var _roomMedia in rooms.mediaFiles)
                {
                    RoomURLFull.Add(_roomMedia.urlFull);
                }
                foreach (var _roomfacilities in rooms.facilities)
                {
                    RoomFacilities.Add(_roomfacilities.name);
                }
            }
        }
    }

}
